BuildData
Bukkit
CraftBukkit
Spigot
apache-maven-3.5.0
logs
plugins
world
world_nether
world_the_end
BuildTools.jar
BuildTools.log.txt
banned-ips.json
bukkit.yml
commands.yml
craftbukkit-1.12.2.jar
eula.txt
help.yml
permissions.yml
spigot-1.12.2.jar
spigot.yml
usercache.json
whitelist.json

work
banned-players.json
scriptcraft/data
scriptcraft/lib/
scriptcraft/modules/
scriptcraft/readme.md
